.game-map-container {
  position: relative;
  overflow: hidden;
  user-select: none;
  width: 100%;
  height: 100vh;
  background: black;
}

.game-map-container.grabbing {
  cursor: grabbing;
}

.map {
  position: relative;
}

.map-wrapper {
  width: 100%;
  transform-origin: top left;
  position: absolute;
  z-index: 2;

}



.map-image {
  position: absolute;
  transform-origin: top left;
}

.encounter-wrapper {
  transform-origin: top left;
  position: absolute;
  /* Establish a stacking context */
  z-index: 1;
  /* Ensure it's above the image (adjust value if needed) */
}

.map-svg {
  z-index: 100;
  pointer-events: none;
  position: absolute;
  user-select: none;
}

.map-svg g rect {
  pointer-events: all;
  position: absolute;
  user-select: none;
}

.map-svg text {
  pointer-events: none;
}





.map_fog {
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}

.map_fog_bottom {
  position: absolute;
  z-index: 1;
}

@keyframes circle_enter {
  from {
    opacity: 0.6;
  }

  75% {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}


.svg_contour {
  position: absolute;
  pointer-events: none;
}

.poly_encounter.interactable {
  cursor: pointer;
  pointer-events: fill;
  stroke: #ff00e5;
  transition: stroke 0.3s ease-in, filter 0.3s ease-in;
  filter: drop-shadow(1px 1px 2px #ff00e5) drop-shadow(0px 0px 2px #ff00e5)
    /*filter: none;*/
}

.poly_encounter.interactable.clue {
  stroke: #ff6600;
  /*filter: none;*/
  filter: drop-shadow(1px 1px 2px #ff6600) drop-shadow(0px 0px 2px #ff6600);
}

.poly_encounter.interactable.active {
  stroke: #00feff;
  /*filter: none;*/
  filter: drop-shadow(1px 1px 2px #00feff) drop-shadow(0px 0px 2px #00feff);
}

.poly_encounter.interactable:hover:not(.active) {
  stroke: #f8e234;
  /*filter: none;*/
  filter: drop-shadow(1px 1px 2px #f8e234) drop-shadow(0px 0px 2px #f8e234);
}

.map_block {
  height: 100vh;
  width: 110%;
}

.map_block.invis {
  opacity: 0;
}

.map_block img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.map_locations img {
  position: absolute;
}

.map_locations {}

.map_room {
  z-index: 10;
}

.player {
  position: absolute;
}

/*compass*/
.compass {
  position: absolute;
  width: 100px;
  /* Adjust as needed for overall compass size */
  height: 100px;
  /* Adjust as needed for overall compass size */
  transform: translate(-24%, -24%);
  /* Center the compass on the room coordinates */

}

.compass-middle,
.compass-arrow {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  image-rendering: crisp-edges;
  will-change: transform;
  /* Added to hint browser about potential transform changes */

  cursor: pointer;

  --shadow-color: #d1ffd2;
  filter: drop-shadow(0 0 1px var(--shadow-color)) drop-shadow(0 0 1px var(--shadow-color));
}

.compass-middle {
  pointer-events: none;
  z-index: 0;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/assets/engine_assets/ui/compass/compass_middle.png');
}

.compass-arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  background-image: url('/assets/engine_assets/ui/compass/compass_north_lit.png');
  /* Use CSS custom property for rotation angle */
  --rotation: 0deg;
  transform: translate(-50%, -50%) rotate(var(--rotation)) translateY(-27px);
}

/*map image assets themselves */
.map_image {
  will-change: transform;
  transition: opacity 0.6s linear, filter 0.3s linear;
}

.map_prop {
  will-change: transform;
  transition: opacity 0.6s linear, filter 0.3s linear;
  pointer-events: none;
}

.noAnimation .map_image,
.noAnimation .map_prop {
  transition: none;
}

.veiled {
  opacity: 0;
  /*visibility: hidden;*/
}

.notVisited {
  filter: brightness(35%);
}

.interactable {
  cursor: pointer;
  --scale-shadow: 1;
  /*transition: filter 0.3s ease-in;*/
  /*-webkit-filter: drop-shadow(calc(2px * var(--scale-shadow)) 1px 0 green) drop-shadow(-1px -1px 0 green);*/
  /*filter:drop-shadow(2px 2px calc(3px * var(--scale-shadow)) green) drop-shadow(-1px -1px 0 green);*/
  filter: drop-shadow(2px 2px calc(3px * var(--scale-shadow)) #ff00e5) drop-shadow(-1px -1px 0 #ff00e5);
}

.interactable.clue {
  cursor: pointer;
  --scale-shadow: 1;
  /*transition: filter 0.3s ease-in;*/
  /*-webkit-filter: drop-shadow(calc(2px * var(--scale-shadow)) 1px 0 green) drop-shadow(-1px -1px 0 green);*/
  /*filter:drop-shadow(2px 2px calc(3px * var(--scale-shadow)) green) drop-shadow(-1px -1px 0 green);*/
  filter: drop-shadow(2px 2px calc(3px * var(--scale-shadow)) #ff6600) drop-shadow(-1px -1px 0 #ff6600);
}

.interactable:hover {
  /*-webkit-filter: drop-shadow(2px 1px 0 #f8e234) drop-shadow(-1px -1px 0 #f8e234);*/
  z-index: 100 !important;
  filter: drop-shadow(2px 2px calc(3px * var(--scale-shadow)) #f8e234) drop-shadow(-1px -1px 0 #f8e234);
}

.interactable.active {
  /*-webkit-filter: drop-shadow(2px 1px 0 #51d3d4) drop-shadow(-1px -1px 0 #51d3d4);*/
  z-index: 100 !important;
  filter: drop-shadow(2px 2px calc(3px * var(--scale-shadow)) #00feff) drop-shadow(-1px -1px 0 #00feff);
}

.info_block {

  /*opacity: 0.8;
    background: url("../../../assets/img/handmadepaper.png") repeat;*/
  background-color: var(--theme-bg-map-block);
  color: var(--theme-font-color);
  /*width: 70%;
    margin-left: 15%;
    */

  position: fixed;
  z-index: 900;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-top: 0px;
  /* -21px;*/
}

.info_block.bottom {
  border-top: 5px solid transparent;
  border-bottom: none;
  bottom: 14px;
}

.info_block .header {
  height: 30px;
  background-color: var(--theme-bg-map-block-header);
}

.info_content {
  width: 100%;
  /*margin-left: 10%;*/

  overflow: auto;
  max-height: 35vh;

  /*background: url("../../../assets/img/handmadepaper.png") repeat;*/
}

.choices {
  text-align: center;
}

.icons {
  display: grid;
  grid-template-columns: 30px 30px fit-content(100%) 30px auto 180px 35px;
  /* 30px 30px 30px 100px auto 150px 35px;*/
  padding-left: 3px;
  padding-right: 3px;
}

.icon {
  padding: 2px;
}

.icon.right {
  text-align: right;
}

.icon img {
  cursor: pointer;
  width: 25px;
  transition: opacity 0.3s ease-in;
}

.text_header {
  /*padding: 1px;*/
  color: #a15335;
}

.text_zoom {
  width: 25px;
  display: inline-block;
  text-align: center;
}

.loading_header {
  padding-right: 10px;
}

.disabled {
  opacity: 0.3;
}

.debug_location_id {
  z-index: 2000;
  padding: 3px;
  background: white;
  color: darkmagenta;
  position: absolute;
  font-size: 30px;
  pointer-events: none;
}

.pf_mark {
  position: absolute;
  z-index: 2001;
  cursor: pointer;
  width: 60px;
}

/* Circle */
.circle {
  /*--circle-color: rgb(108 160 255);*/
  position: absolute;
  z-index: 2001;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #629edb;
}

.circle.visited:before,
.circle.visited:after {
  border: 1px solid white;
}

.circle:before,
.circle:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #30a3c5;
  border-radius: 50%;
}

.circle:before {
  animation: ripple 2s linear infinite;
}

.circle:after {
  animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

.text_dungeon_name {
  margin: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /*font-size: 20px;*/
}

/**
   * ==============================================
   * Dot Carousel
   * ==============================================
   */
.text_loading {
  margin-right: 15px;
}

.stage {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-right: 15px;
  margin: auto;
}

.dot-carousel {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  --dot-color: #a15335;
  background-color: var(--dot-color);
  color: var(--dot-color);
  box-shadow: 9984px 0 0 0 var(--dot-color), 9999px 0 0 0 var(--dot-color), 10014px 0 0 0 var(--dot-color);
  animation: dotCarousel 1.5s infinite linear;
}

@keyframes dotCarousel {
  0% {
    box-shadow: 9984px 0 0 -1px var(--dot-color), 9999px 0 0 1px var(--dot-color), 10014px 0 0 -1px var(--dot-color);
  }

  50% {
    box-shadow: 10014px 0 0 -1px var(--dot-color), 9984px 0 0 -1px var(--dot-color), 9999px 0 0 1px var(--dot-color);
  }

  100% {
    box-shadow: 9999px 0 0 1px var(--dot-color), 10014px 0 0 -1px var(--dot-color), 9984px 0 0 -1px var(--dot-color);
  }
}

@media only screen and (max-width: 1250px),
screen and (max-height: 650px) {
  .info_block {
    margin-top: 20px;
  }

  .info_block.bottom {
    bottom: 9px;
  }

  .info_block .header {
    height: 40px;
  }

  .icon img {
    width: 35px;
  }

  .icons {
    grid-column-gap: 15px;
  }
}

.fog-mask-reveal-enter-active,
.fog-mask-reveal-leave-active {
  transition: fill-opacity 0.5s ease-out;
}

.fog-mask-reveal-enter-from,
.fog-mask-reveal-leave-to {
  fill-opacity: 0;
}

.fog-mask-reveal-enter-to,
.fog-mask-reveal-leave-from {
  fill-opacity: 1;
}

.map-wrapper-container {
  will-change: transform;
  transform: scale(var(--map-zoom-factor));
  transform-origin: top left;
}

.body-wrapper {
  position: relative;
}

.screen-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 16 / 9;

  width: 100%;
  height: auto;
  max-height: 100%;
}

.screen-area .map-wrapper {
  transform: scale(var(--screen-content-scale));
}

@container (min-aspect-ratio: 16/9) {
  .screen-area {
    width: auto;
    height: 100%;
    max-width: 100%;
  }
}