/* Initial styles for master component */
.editor_container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the container takes up height */
}
.editor_header {
    height: 105px;
}
.main_row {
    display: flex;
    align-items: center; /* Vertically center items */
    padding: 5px 10px; /* Add some padding */
    border-bottom: 1px solid #ccc; /* Separator line */
    gap: 5px; /* Spacing between items */
    flex-shrink: 0; /* Prevent row from shrinking */
    overflow-x: auto;
    position: relative;
    z-index: 10;
}

.secondary_row {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    min-height: 35px; /* Give it some default height */
    flex-shrink: 0; /* Prevent row from shrinking */
    gap: 10px;
    overflow-x: auto;
    position: relative;
    z-index: 10;
}

.create_new, 
.choose_game, 
.choose_mod, 
.tab {
    /*padding: 6px 12px;*/
    cursor: pointer;
    border: 1px solid var(--p-select-border-color); /* Base border */
    border-radius: 4px;
    white-space: nowrap; /* Prevent text wrapping */
}

.create_new {
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

.tab {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 5px;
    background-color: #f0f0f0;
}

.tab:hover {
    background-color: #d8d8d8;
}

.create_new:hover, 
.choose_game:hover, 
.choose_mod:hover, 
.tab:hover {
    background-color: #e9e9e9; /* Simple hover effect */
    border-color: #bbb;
}

/* Add styles for active tab/selection if needed later */
/* .tab.active { background-color: #d0d0d0; } */

/* Add styles for the selected tab */
.tab.selected {
    background-color: #e0e0e0; /* Example selected background color */
    font-weight: bold;
    border-bottom: 2px solid blue; /* Example selected border */
}
.secondary_row .tab.selected {
    border-bottom: 2px solid rgb(160 43 196); /* Example selected border */
}

.content {
    flex-grow: 1; /* Allow content area to fill available space */
    
    overflow-y: auto; /* Add scrollbar if content exceeds height */
}
